# Project exclude paths
/springmvc_annotation/target/
/springmvc_study01/target/
/springmvc_study02/target/
/springmvc_study03/target/
/springmvc_study04/target/
/springmvc_study05/target/
/springmvc_study06/target/